* {
  box-sizing: border-box;
  font-family: "Chakra Petch", monospace;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas: 
    "navbar"
    "main";
  margin: 0;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #050505;
  background-image: url("img/background-codearla-mobile.jpg");
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.text-timer{
  font-size:1.25rem;
  margin: 0;
}


#count-timer {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  
}

.timer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 8px;
  align-items: center;
  width: 100%;
}

.container-timer{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 8px;
  color: aliceblue;
  align-items: center;
}

:root {
  --blue-neon: #1f6ae1;
  --violet-neon: #7c3aed;
  --pink-neon: #d946ef;
  --orange-neon: #f97316;
}

.container-timer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;

  background:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--blue-neon) 10%,var(--blue-neon) 25%,
      var(--violet-neon) 25%,var(--violet-neon)50%,
      var(--pink-neon) 50%,var(--pink-neon) 75%,
      var(--orange-neon) 75%,var(--orange-neon) 90%,
      transparent 100%
    );
}

main {
  grid-area: main;
  margin: 3rem 0 0 0;
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin: 0;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.5px;
  background-color: #050505;
  z-index: 100;
}

.logo-container{
  display: flex;
  align-items: center;
}

.logo-icon{
  height: 70px;
  width: auto;
}

.title{
  font-family: "Orbitron";
  font-size: 1.5rem;
  font-weight: bolder;
  background-clip: text;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #22D3EE, #7C3AED, #D946EF, #FACC15, #22D3EE);
  color: transparent;
  animation: lineal 3s linear infinite;
}

@keyframes lineal {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.red-social-container{
  display: flex;
  align-items: center;
}

.red-social-icon {
  width: 35px;
  height: 35px;
  padding: 2px;   
  margin-left: 5px;
  margin-right: 5px; 
}

.codearla-info,
.sponsors {
  width: 85dvw;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  padding: 10px 20px;
  border: 2px solid #7C3AED;
  box-shadow: 
    0 0 25px #7C3AED,
    0 0 25px #7C3AED,
    inset 0 0 50px #7C3AED;
}

.codearla-info::before,
.sponsors::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("img/background-section-compress.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  z-index: 1;
}

.codearla-info h2,
.codearla-info p,
.sponsors h2,
.sponsors div {
  position: relative;
  z-index: 2;
}

.codearla-info h2 {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

.codearla-info h2 span,
.sponsors h2 span {
  background-image: linear-gradient(
    to right,
    #1f6ae1,
    #22d3ee,
    #7c3aed,
    #d946ef,
    #f97316,
    #facc15
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.codearla-info p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 500;
  margin: 5px;
}

.location{
  display:flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.location h2{
  width: 85vw;
  align-self: center;  
}

.title-location {
  background-image: linear-gradient(
    to right,
    #1f6ae1,
    #22d3ee,
    #7c3aed,
    #d946ef,
    #f97316,
    #facc15
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.mapa-borde {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
  border-radius: 20px;
  align-items: center;
}

.mapa-borde iframe {
  width: 90vw;
  height: 380px;
  border: 0;
  border-radius: 16px;
}

.sponsors {
  width: 85dvw;
  margin: 0 auto 3rem auto;
  text-align: center;
}

.codearla-info h2,
.sponsors h2 {
  margin-top: 5px;
}

.sponsors div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-bottom: 10px;
}

.sponsors article {
  grid-column: span 1;
  aspect-ratio: 5/2;
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(124, 58, 237, 0.3);
  transition: transform 0.3s ease, background-color 0.3s;
}

.sponsors article:nth-child(1) {
  background-color: rgb(31, 106, 225, 0.5);
}

.sponsors article:nth-child(2) {
  background-color: rgb(34, 211, 238, 0.5);
}

.sponsors article:nth-child(3) {
  background-color: rgb(124, 58, 237, 0.5);
}

.sponsors article:hover {
  filter: brightness(1.2); 
  transform: translateY(-5px);
}

.sponsors img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inscription-form{
  cursor: pointer;
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(45deg,#3624dc, #3823d2, #861ea1, #d02569, #e4173e, #de1c37, #ff6641);
  background-repeat: no-repeat;
  color: white;
  padding: 12px 36px;
  text-decoration: none;
  font-weight: 600;
  
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-image: linear-gradient(25deg, #8cccff, #3b27b9, #911d9a,#911d9a,#e54c7d,#ffc255) 1;
  box-shadow: 
  10px -10px 30px -10px #fa0000fd,
  -20px 10px 30px -10px #000bab;

  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.inscription-form:hover {
  background-image: linear-gradient(45deg, #ff6641, #de1c37, #e4173e, #d02569, #861ea1, #3823d2, #3624dc);
  background-position: 100% 100%;

  border-image: linear-gradient(25deg, #ffc255, #e54c7d, #911d9a, #3b27b9, #8cccff) 1;
  box-shadow: 
    -10px 10px 30px -10px #fa0000fd,
    20px -10px 30px -10px #000bab;

  transform: scale(1.05);
  filter: brightness(1.5);
}

@media (600px <= width < 1024px) {
  body {
    background-image: url("img/background-codearla-tablet.jpg");
  }

  .text-timer{
    font-size: 2.4rem
  }

  #count-timer{
    font-size: 4.8rem;
  }

  .codearla-info {
    width: 75dvw;
  }

  .codearla-info h2 span,
  .sponsors h2 span {
    font-size: 2rem;
  }

  .codearla-info p {
    font-size: 1.4rem;
  }

  .sponsors {
    width: 75dvw;
  }

  .title{
    font-size: 2rem;
  }
  
  .red-social-icon {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px; 
  }

  .inscription-form{
    padding: 22px 50px;
    font-size: medium;
  }
}

@media (width >= 1024px) {
  body {
    background-image: url("img/background-codearla-desktop.jpg");
  }

  .logo-icon {
    transition: transform 0.5s ease-in-out;
  }

  .logo-icon:hover {
    transform: scale(0.8);
  }

  .timer {
    margin-top: 15px;
  }

  .text-timer{
    font-size: 3rem;
  }

  #count-timer{
    font-size: 6rem;
  }

  .codearla-info {
    width: 70dvw;
  }

  .codearla-info h2 span,
  .sponsors h2 span {
    font-size: 3.5rem;
  }

  .codearla-info p {
    font-size: 2rem;
  }
  .title{
    font-size: 2.5rem;
  }

  .location h2{
    width: 70vw;
  
  }

  .mapa-borde iframe {
    display: block;
    width: 70vw;
    height: 380px;
    border: 0;
    border-radius: 16px;
  }

  .sponsors {
    width: 70dvw;
  }

  .sponsors div {
    grid-template-columns: repeat(6, 1fr);
  }

  .sponsors article {
    grid-column: span 2;
    aspect-ratio: 5/2;
    padding: 5px;
  }

  .red-social-icon {
    width: 45px;
    height: 45px;
    padding: 2px;   
    margin-left: 10px;
    margin-right: 10px; 
  }
  .inscription-form{
    padding: 25px 50px;
    font-size: 1.2rem;
  }
}

@media (width >= 1440px) {
  .codearla-info,
  .sponsors {
    width: 50dvw;
  }

  .inscription-form{
    padding: 28px 56px;
    font-size: 1.6rem;
  }
}