* {
  box-sizing: border-box;
  font-family: "Chakra Petch", monospace;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas: 
    "navbar"
    "main"
    "footer";
  margin: 0;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  background-color: #050505;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("img/background-codearla-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  transform: scale(1.02);
}

main {
  grid-area: main;
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000e7;
  margin: 0;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.5px;
  z-index: 100;
}
#codearla-info,
#sponsors,
#speakers,
#location 
#redes-sociales {
  scroll-margin-top: 130px;
}

.burguer-button {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 101;
}
.burguer-button:hover {
  color: #7C3AED;
}

.nav-elements {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: auto;
  right: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease;
  background: #00000088;
  backdrop-filter: blur(10px);
  padding: 10px;
  z-index: 99;
  list-style: none;
  margin: 0;
}
.nav-elements.active {
  max-height: 400px;
  opacity: 1;
}
.nav-elements li {
  list-style: none;
  margin: 10px 0;
}
.nav-elements a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  margin-left: 20px;
}
.nav-elements.active li {
  list-style: none;
  margin: 10px 0;
}
.nav-elements.active a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  margin-left: 20px;
}
.nav-elements.active a:hover {
  color: #7C3AED;
  filter: brightness(1.2);
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 70px;
  width: auto;
}

.title {
  font-family: "Orbitron";
  font-size: 1.5rem;
  font-weight: bolder;
  background-clip: text;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #22D3EE, #7C3AED, #D946EF, #FACC15, #22D3EE);
  color: transparent;
  animation: lineal 3s linear infinite;
}

@keyframes lineal {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.red-social-container {
  display: flex;
  align-items: center;
}

.red-social-icon {
  width: 50px;
  height: 50px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.timer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 8px;
  align-items: center;
  width: 100%;
}

.container-timer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 8px;
  color: aliceblue;
  align-items: center;
}

:root {
  --blue-neon: #1f6ae1;
  --violet-neon: #7c3aed;
  --pink-neon: #d946ef;
  --orange-neon: #f97316;
}

.container-timer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--blue-neon) 10%,var(--blue-neon) 25%,
    var(--violet-neon) 25%,var(--violet-neon)50%,
    var(--pink-neon) 50%,var(--pink-neon) 75%,
    var(--orange-neon) 75%,var(--orange-neon) 90%,
    transparent 100%
  );
}

.text-timer {
  font-size: 1.25rem;
  margin: 0;
}

#count-timer {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.codearla-info,
.sponsors {
  width: 85dvw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  padding: 10px 20px;
  border: 2px solid #7C3AED;
  box-shadow: 
    0 0 25px #7C3AED,
    0 0 25px #7C3AED,
    inset 0 0 50px #7C3AED;
}


.codearla-info::before,
.sponsors::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("img/background-section-compress.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  z-index: 1;
}

.codearla-info h2,
.codearla-info p,
.sponsors h2,
.sponsors div {
  position: relative;
  z-index: 2;
}

.codearla-info h2,
.speakers h2,
.location h2,
.sponsors h2 {
  margin-top: 5px;
}

.codearla-info h2 {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

.codearla-info h2 span,
.location h2 span,
.sponsors h2 span,
.red-social h2 span {
  background-image: linear-gradient(
    to right,
    #1f6ae1,
    #22d3ee,
    #7c3aed,
    #d946ef,
    #f97316,
    #facc15
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.codearla-info p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 500;
  margin: 5px;
}

.speakers,
.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.location-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85dvw;
  align-self: center;
  align-items: center;
}

.logo-parque {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  max-width: 350px;
  height: auto;
  position: relative;
  padding-bottom: 10px;
}

.title-cole {
  position: relative;
  padding-bottom: 10px;
  margin: 0;
  color: #ffffff;
  width: 100%;
  margin-top: 15px;
}


.logo-parque article:last-of-type {
  position: relative;
  padding-bottom: 10px;
}

.logo-parque article:last-of-type::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--blue-neon) 10%,var(--blue-neon) 25%,
      var(--violet-neon) 25%,var(--violet-neon)50%,
      var(--pink-neon) 50%,var(--pink-neon) 75%,
      var(--orange-neon) 75%,var(--orange-neon) 90%,
      transparent 100%
    );
}


.logo-parque img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  max-height: 190px;
  object-fit: contain;
}

.title-direccion {
  position: relative;
  padding-bottom: 10px;
  margin: 0;
  color: #ffffff;
  width: 100%;
}

.title-direccion::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background:
    linear-gradient(
      90deg,
      transparent 0%,
      var(--blue-neon) 10%,var(--blue-neon) 25%,
      var(--violet-neon) 25%,var(--violet-neon)50%,
      var(--pink-neon) 50%,var(--pink-neon) 75%,
      var(--orange-neon) 75%,var(--orange-neon) 90%,
      transparent 100%
    );
}

.logo-parque article {
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

}

.logo-parque article i {
  font-size: 24px;
  color: #f5e15c;
  flex-shrink: 0;
}

.speakers h2 {
  position: relative;
  z-index: 2;
}

.speakers h2 span {
  background-image: linear-gradient(
    to right,
    #1f6ae1,
    #22d3ee,
    #7c3aed,
    #d946ef,
    #f97316,
    #facc15
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.speakers .speakers-grid {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  align-items: stretch;
  justify-content: center;
}

.speakers article {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 0;
  box-shadow: 0 0 25px #7C3AED,
    0 0 25px #7C3AED,
    inset 0 0 50px #7C3AED;;
}

.speakers img {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: block;
}

.speakers h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 1.2rem;
}

.speakers .bio-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.speakers .bio-text p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.location h2 {
  width: 85vw;
  align-self: center;
}

.mapa-borde {
  display: flex;
  flex-direction: column;
  width: 85dvw;
  height: auto;
  margin: 0 auto;
  padding: 4px;
  border-radius: 20px;
  align-items: center;
}

.mapa-borde iframe {
  width: 100%;
  height: 380px;
  border: 0;
  border-radius: 16px;
}

.sponsors {
  width: 85dvw;
  margin: 0 auto 3rem auto;
  text-align: center;
}

.sponsors div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-bottom: 10px;
}

.sponsors article {
  grid-column: span 1;
  aspect-ratio: 5/2;
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s;
}

.sponsors article:nth-child(1) {
  background-color: rgb(77, 77, 77);
}

.sponsors article:nth-child(2),
.sponsors article:nth-child(5),
.sponsors article:nth-child(4){
  background-color: rgb(243, 243, 243);
}

.sponsors article:nth-child(3) {
  background-color: rgb(24, 91, 153);
}

.sponsors article:nth-child(6),
.sponsors article:nth-child(7){
  background-color: rgb(0, 0, 0);
}

.sponsors article:hover {
  filter: brightness(1.2); 
  transform: translateY(-5px);
}

.sponsors img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inscription-form {
  cursor: pointer;
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(45deg,#3624dc, #3823d2, #861ea1, #d02569, #e4173e, #de1c37, #ff6641);
  background-repeat: no-repeat;
  color: white;
  padding: 12px 36px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 
  10px -10px 30px -10px #fa0000fd,
  -20px 10px 30px -10px #000bab;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), filter 0.6s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1), background-position 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
}

.inscription-form:hover {
  background-image: linear-gradient(45deg, #ff6641, #de1c37, #e4173e, #d02569, #861ea1, #3823d2, #3624dc);
  background-position: 100% 100%;
  box-shadow: 
    -10px 10px 30px -10px #fa0000fd,
    20px -10px 30px -10px #000bab;
  transform: scale(1.05);
  filter: brightness(1.5);
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (600px <= width < 1024px) {
  body {
    background-image: url("img/background-codearla-tablet.jpg");
  }

  .text-timer {
    font-size: 2.4rem
  }

  #count-timer {
    font-size: 4.8rem;
  }

  .title {
    font-size: 1.7rem;
  }
  .codearla-info,
  .mapa-borde,
  .sponsors {
    width: 75dvw;
  }

  .codearla-info h2 span,
  .location h2 span,
  .sponsors h2 span {
    font-size: 2rem;
  }

  .speakers h2 span {
    font-size: 2rem;
  }

  .codearla-info p {
    font-size: 1.4rem;
  }

  .speakers .speakers-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .speakers article {
    grid-column: span 1;
  }

  .speakers h3 {
    font-size: 1.5rem;
  }

  .speakers .bio-text p {
    font-size: 1.1rem;
  }

  .sponsors {
    width: 75dvw;
  }

  .sponsors div {
    grid-template-columns: repeat(4, 1fr);
  }

  .sponsors article {
    grid-column: span 2;
  }

  .sponsors article:nth-child(7) {
    grid-column: 2 / 4;
  }

  .location-content {
    width: 75dvw;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
  }

  .mapa-borde,
  .logo-parque {
    flex: 1;
  }

  .title{
    font-size: 1.7rem;
  }
  
  .red-social-icon {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
  }

  .inscription-form {
    padding: 12px 38px;
    font-size: 1.2rem;
  }
}

@media (width >= 1024px) {
  body {
    background-image: url("img/background-codearla-desktop.jpg");
  }
  .burguer-button {
    display: none;
  }
  .nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position:static;
    max-height: none;
    overflow: visible;
    opacity: 1;
    background: none;
    backdrop-filter: none;
    padding: 0;
    width: 700px;
    z-index: 99;
    list-style: none;
  }
  .nav-elements li {
    list-style: none;
  }
  .nav-elements a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  .nav-elements a:hover {
    color: #7C3AED;
  }
  .logo-icon {
    transition: transform 0.5s ease-in-out;
  }

  .logo-icon:hover {
    transform: scale(0.8);
  }

  .timer {
    margin-top: 15px;
  }

  .text-timer {
    font-size: 3rem;
  }

  #count-timer {
    font-size: 6rem;
  }

  .title {
    font-size: 2rem;
  }

  .codearla-info,
  .mapa-borde,
  .sponsors {
    width: 70dvw;
  }

  .codearla-info h2 span,
  .location h2 span,
  .sponsors h2 span{
    font-size: 3.5rem;
  }

  .speakers h2 span {
    font-size: 3.5rem;
  }

  .codearla-info p {
    font-size: 2rem;
  }

  .speakers .speakers-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .location-content {
    width: 70dvw;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
  }

  .mapa-borde,
  .logo-parque {
    flex: 1;
    display: flex;
  }

  .speakers article {
    grid-column: span 2;
  }

  .speakers img {
    width: 300px;
    height: 300px;
  }

  .speakers h3 {
    font-size: 1.8rem;
  }

  .speakers .bio-text p {
    font-size: 1.2rem;
  }

  .speakers article:nth-child(1) {
    grid-column: 2 / 4;
  }

  .speakers article:nth-child(2) {
    grid-column: 4 / 6;
  }

  .location h2 {
    width: 70vw;
  }

  .mapa-borde iframe {
    display: block;
    width: 100%;
    height: 380px;
    border: 0;
    border-radius: 16px;
  }

  .sponsors div {
    grid-template-columns: repeat(6, 1fr);
  }

  .sponsors article {
    padding: 5px;
    grid-column: span 2;
  }

  .sponsors article:nth-child(7) {
    grid-column: 3 / 5;
  }

  .red-social-icon {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .inscription-form {
    padding: 17px 43px;
    font-size: 1.4rem;
  }

  
.redes-sociales {
  width: 50dvw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  padding: 10px 20px;
  border: 2px solid #7C3AED;
  box-shadow: 
    0 0 25px #7C3AED,
    0 0 25px #7C3AED,
    inset 0 0 50px #7C3AED;
  text-align: center;
}

.redes-sociales h2,
.redes-sociales div {
  position: relative;
  z-index: 2;
  color: white;
}

.redes-sociales h2 span {
  background-image: linear-gradient(
    to right,
    #1f6ae1,
    #22d3ee,
    #7c3aed,
    #d946ef,
    #f97316,
    #facc15
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  font-size: 3.5rem;
  font-weight: bold;
}

.redes-sociales::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("img/background-section-compress.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  opacity: 0.5;
  z-index: 1;
}
}

@media (width >= 1440px) {
  .codearla-info,
  .sponsors,
  .mapa-borde,
  .location-content {
    width: 50dvw;
  }

  .title {
    font-size: 2.3rem;
  }

  .inscription-form {
    padding: 9px 40px;
    font-size: 1.7rem;
  }

  .speakers .speakers-grid {
    max-width: 1700px;
    grid-template-columns: repeat(8, 1fr);
  }

  .speakers article {
    grid-column: span 2;
  }

  .speakers h3 {
    font-size: 1.9rem;
  }

  .speakers .bio-text p {
    font-size: 1.2rem;
  }

  .speakers article:nth-child(1) {
    margin-right: 10px;
    grid-column: 3 / 5;
  }

  .speakers article:nth-child(2) {
    margin-left: 10px;
    grid-column: 5 / 7;
  }
}
